<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../yarn-state-behavior/yarn-state-behavior.html">
<link rel="import" href="yarn-media-query-behavior.html">
<!--
The `yarn-media-queries` element defines a set of responsive layout media queries to be configured once and used throughout your application via more general class names, e.g. `small-screen`.

Use the `yarn-media-queries` element *once* in your application.  Use [YarnBehaviors.MediaQueryBehavior](#YarnBehaviors.MediaQueryBehavior) on all elements you want to make responsive.
```
<my-app>
  <yarn-media-queries></yarn-media-queries>
  <responsive-element-one></responsive-element-one>
  <responsive-element-two></responsive-element-two>
</my-app>
```

The `yarn-media-query-behavior` applies the current winning media type to the host of custom elements.

## Custom Queries
You may supply a list of custom queries to the `yarn-media-queries` element via the `queries` parameter.
```
<dom-module id="my-app">

  <template>
    <yarn-media-queries queries="{{queries}}"></yarn-media-queries>
    <responsive-element-one></responsive-element-one>
    <responsive-element-two></responsive-element-two>
  </template>

</dom-module>
<script>
  (function () {
    Polymer({
      is: 'my-app',
      ready: function(){
        var queries = [
          {
            query: '(min-width: 0px)',
            class: 'small-screen',
          },
          {
            query: '(min-width: 400px)',
            class: 'medium-screen'
          },
          {
            query: '(min-width: 1200px)',
            class: 'large-screen'
          }
        ];
        this.set('queries', queries);
      }
    });
  })();
</script>
```
-->

<dom-module id="yarn-media-queries">

  <style>
    :host {
      display: none;
    }
  </style>

  <template>

    <template is="dom-repeat" items="{{queries}}">
      <iron-media-query query="{{item.query}}" query-matches="{{item.queryMatches}}"></iron-media-query>
    </template>

  </template>

</dom-module>
<script>
  (function () {
    Polymer({

      is: 'yarn-media-queries',

      properties: {

        queries: {
          type: Array,
          notify: true,
          observer: '_queriesChanged',
          value: [

            {
              query: '(min-width: 0px)',
              class: 'small-screen',
            },

            {
              query: '(min-width: 500px)',
              class: 'medium-screen'
            },

            {
              query: '(min-width: 1000px)',
              class: 'large-screen'
            },

            {
              query: '(min-width: 1000px) and (max-height: 1000px)',
              class: 'laptop-screen'
            }

          ]
        },

        _size:{
          type: String,
          notify: true,
          observer: '_sizeChange',
          value: 'small-screen'
        }
      },

      behaviors: [
        YarnBehaviors.StateBehavior
      ],

      observers: [
        '_queryChange(queries.*)'
      ],


      _queriesChanged: function(queries){

        this.set('state.mediaQueries', queries);

        this.set('_size', queries[0].class);

        //console.log('queries changed', queries);
      },

      _queryChange: function(changedQuery){

        var size = this.queries[0].class

        for(var i = 0; i < this.queries.length; i++ ){

          var query = this.queries[i];

          if(query.queryMatches){

            //console.log('matches', query.class);

            size = query.class;
          }
        }

        this.set('_size', size);
      },

      _sizeChange: function(size){

        //console.log('size change: ', size);

        this.set('state.mediaType', size);
      }

    });
  })();
</script>
